{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block header %}
    <div class="col col-12">
        {{ 'header' | trans }}
    </div>
{% endblock %}

{% block body %}
    <div class="search-city-form-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col col-12">
                    {{ form(form) }}
                </div>
            </div>
        </div>
    </div>
    <div
        data-controller="map"
        data-map-lon-value="19.424"
        data-map-lat-value="51.985"
        {% if stationsJson %}data-map-stations-value="{{ stationsJson }}"{% endif %}
        {% if stationsAirQualityJson %}data-map-air-value="{{ stationsAirQualityJson }}"{% endif %}
        class="map-container">
            <div class="map-popup" data-map-target="popup"></div>
    </div>
{% endblock %}

{% block footer %}
    <div class="col col-12">
        {{ 'footer' | trans }}
    </div>
{% endblock %}
