.map{
  &-container{
    height: 100%;
    width: 100%;
  }

  &-popup{
    display: none;
    background: $color2;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 1rem;

    &-visible{
      display: block;
    }

    &-list{
      list-style: none;
      padding: 0;
      margin: 0;
    }

    span{
      width: 60px;
      display: inline-block;
    }
  }
}