.search-city-form {
  &-wrapper {
    align-items: end;
    background: $color2;
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
    position: absolute;
    top: 0;
    left: 30%;
    right: 0;
    width: 70%;
    z-index: 10;

    .form-group{
      flex: 1 1 auto;

      &:last-of-type{
        flex: 0 0;
        padding-left: 15px;
      }
    }

    form > div{
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
    }
  }
}