<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {{ encore_entry_link_tags('vendor') }}
        {{ encore_entry_link_tags('app') }}
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
        {% block stylesheets %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </head>
    <body>
        <header class="header">
            <div class="container-fluid">
                <div class="row">
                    {% block header %}{% endblock %}
                </div>
            </div>
        </header>
        <main class="main">
            {% block body %}{% endblock %}
        </main>
        <footer class="footer">
            <div class="container-fluid">
                <div class="row">
                    {% block footer %}{% endblock %}
                </div>
            </div>
        </footer>
        {{ encore_entry_script_tags('app') }}
    </body>
</html>